{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "globals": {
    "$Keys": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "arrow-parens": [1, "always"],
    "camelcase": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "global-require": "off",
    "no-unused-vars": "off",
    "jest/no-disabled-tests": "off",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-spy-on": "warn",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["src/**/*.test.tsx", "src/**/*.test.ts", "src/**/*.stories.tsx"]
      }
    ],
    "import/no-cycle": "off",
    "function-paren-newline": ["error", "consistent"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "jsx-a11y/anchor-is-valid": "off",
    "operator-linebreak": "off",
    "no-unused-expressions": ["error", {"allowTaggedTemplates": true}],
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true
  }
}
